<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dbConnectionManager" class="com.onlinebookstore.db.DBConnectionManager" />

    <bean id="bookDAO" class="com.onlinebookstore.dao.BookDAO">
        <constructor-arg ref="dbConnectionManager" />
    </bean>

    <bean id="bookService" class="com.onlinebookstore.service.BookService">
        <property name="bookDAO" ref="bookDAO" />
    </bean>
</beans>
